[Unit]
Description=Prusa Timelapse Monitor with Auto-Detection
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
Environment=PYTHONUNBUFFERED=1
ExecStart=/usr/bin/python3 -u -m src.timelapse
WorkingDirectory={{INSTALL_DIR}}
Restart=always
RestartSec=30
User={{USER}}

[Install]
WantedBy=multi-user.target
